{% extends "./base.html" %}


{% block title %} Gestion de Libros{% endblock %}

{% block body %}
    <div class="row">
        <div class="md-4 offset-md-4">
            <h2>Edición de Libros</h2>

            <div class="card">
                <div class="card-body">
                    <form action="/editarLibro/" method="post">{% csrf_token %}
                        <div class="form-group">
                            <input type="text"id="txtCodigo" name="txtCodigo" value="{{ libro.codigo }}" class="form-control" placeholder="codigo" minlength="6" maxlength="6"
                                  readonly required>
                        </div>
                         <div class="form-group">
                            <input type="text"id="txtNombre" name="txtNombre" value="{{ libro.nombre }}" class="form-control" placeholder="nombre"  maxlength="50"
                                   required>
                        </div>
                         <div class="form-group">
                            <input type="text"id="txtAutor" name="txtAutor" value="{{ libro.autor }}" class="form-control" placeholder="autor"  maxlength="50"
                                   required>
                        </div>
                         <div class="form-group">
                            <input type="text"id="txtEditorial" name="txtEditorial" value="{{ libro.editorial }}"class="form-control" placeholder="editorial"  maxlength="50"
                                   required>
                        </div>
                         <div class="form-group">
                            <input type="text"id="txtAño" name="txtAño" value="{{ libro.año }}" class="form-control" placeholder="año" maxlength="6"
                                   required>
                        </div>
                         <div class="form-group">
                          <button type="submit" class="btn btn-success btn-block text-withe">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}